

@use "/src/sass/base/basic.scss";
@use "/src/sass/base/variables.scss" as *;

@use "/src/sass/pxtorem.scss" as *;


@use "/src/sass/libs/bootstrap-reboot.min.scss";

@use "/src/sass/blocks/promo.scss";
@use "/src/sass/blocks/title.scss";
@use "/src/sass/blocks/button.scss";
@use "/src/sass/blocks/sidepanel.scss";
@use "/src/sass/blocks/menu.scss";
@use "/src/sass/blocks/about.scss";
@use "/src/sass/blocks/resume.scss";
@use "/src/sass/blocks/skills.scss";
@use "/src/sass/blocks/portfolio.scss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.divider {
    width: 60px;
    height: 3px;
    background-color: $main-color;
    margin: 25px auto 0 auto;
}
